<!doctype html>
<html>
<head>
    <title>MakerSpace Temesek Polytechnic</title>
</head>
<body>
    {{!-- This expression will be replaced with the HTML for each view. --}}
    <header><img src="/img/logo.jpg" alt="MakerSpace Temesek Polytechnic"></header>
    {{{body}}}
    <footer>&copy; {{copyrightYear}} MakerSpace Temesek Polytechnic</footer>
</body> 
</html>